
.zag {text-align:center; font-weight:normal; font-family:"Palatino Linotype"; margin: 5px}
.pzag {font-weight:normal; font-family:"Palatino Linotype"; margin: 0px}
#txt{margin-left: 12%; margin-right: 12%}